* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
body {
    margin: 0;
    padding: 0;
    font-size:13px;
}
a {
    font-size: 14px;
    text-decoration: none;
    color: 	#B22222;
}

a:hover{
    color: #8B0000;
    text-decoration: none;
}
button:hover {
    cursor: pointer !important;
}
input, textarea {
    padding: 2px 4px;
}
.gly {
    margin: auto 0;
    margin-left: 4px;
}
.gly:hover {
    cursor: pointer;
}
button {
    font-size: 13px !important;
}
.avatar img {
    width: 35px;
    height: 35px;
    background-size: cover;
    margin: auto 8px;
}
#survey_id {
    margin-top: 16px;
}
/* #add-question {
    height: 150px;
} */
#star-answer .star {
    width: 100px;
}
span.star-none {
    width: 20px;
    height: 20px;
    background: url('../Content/image/stars-icon-png.png') no-repeat center;
    background-size: cover;
    cursor: pointer;
}
.t_max {
    font-size: 40px;
}
.phien {
    margin-top: 40px;
}
table {
    width: 100%;
    background-color: #FFF;
}
table tr {
    height: 35px;
    text-align: center;
}
table tr td span:hover {
    cursor: pointer;
}
label {
    font-size: large;
    color: #4e4e4e;
}

